:root{
    
--Tomato: hsl(4, 100%, 67%);
--DarkSlateGrey: hsl(234, 29%, 20%);
--CharcoalGrey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("/assets/fonts/Roboto-Bold.ttf");
}

body{
    font-family: Roboto;
    min-height: 100vh;
    display: flex;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--CharcoalGrey);
}

.success-container{
    padding: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--White);
    display: none;
    img{
        width: 15%;
    }

    h1{
        font-family: RobotoBold;
    }

    button{
        color: var(--White);
        border-radius: 10px;
        padding: 1rem;
        border: none;
        background-color: var(--CharcoalGrey);   
        font-size: 1.1rem;
        cursor: pointer;
    }

    button:hover{
        background: linear-gradient(to right,  rgba(221, 37, 123, 0.887), hsl(4, 100%, 67%));
    }

    p{
        font-size: 0.8rem;
        word-wrap: normal;
        line-height: 1.5rem;
    }

    .user-email {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        font-weight: bold;
    }
}

main{
    max-height: 60vh;
    width: 650px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    display: flex;
    background-color: var(--White);
    border-radius: 10px;
    flex-direction: row;
}

main .calculator-input{
    padding: 0rem 2rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    p{
        font-size: 0.8rem;
    }
    h1{
        font-family: RobotoBold;
        font-size: 2rem;
    }
    button{
        border-radius: 5px;
        background-color: var(--CharcoalGrey);
        color: var(--White);
        padding: 0.75rem;
        cursor: pointer;
        border: none;
    }
    button:hover{
        
        background: linear-gradient(to right,  rgba(221, 37, 123, 0.887), hsl(4, 100%, 67%));
    }
    li{
        font-size: 0.6rem;
        padding: 0.5rem 0rem 0.5rem 0rem;
        list-style: none;        
    }
    li::before{
        padding-right: 0.5rem;
        content: url("/assets/images/icon-list.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        vertical-align: middle;
    }

    label{
        font-size: 0.7rem;
        font-weight: bold;
    }

    .error{
        display: none;
        color: red;
    }

    label p{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
    }

    input{
        padding: 0.4rem;
        margin: 0.25rem 0rem 0.25rem 0rem;
        width: 100%;
        height: 2.5rem;
        font-size: 1.1rem;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--Grey);
    }
}

.illustration-mobile{
    height: 100%;
    display: none;
}

main .illustration{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 60vh;
    }
}


@media screen and (max-width:47.9em){
    
    .illustration-mobile{
        display: block;
        padding-bottom: 1rem;
    }
    .illustration{
        width: 0;
    }
    main{
        width: 100%;
        margin: 0;
        padding-top: 0;
        width: 90%;
        min-height: 90vh;
        flex-direction: column;
        gap: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    main .calculator-input{
        padding: 0;
    }

    .success-container{
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 100vh;
        gap: 2rem;
        h1{
            font-size: 3rem;
        }
        p{
            line-height: 2rem;
            font-size: 1.3rem;
        }
        .user-email {
            display: inline-block;
            max-width: 100%;
            word-break: break-all;
            font-weight: bold;
        }
        display: none;
    }
}
